<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
        <thead>
            <th scope="col">Model</th>
            <th scope="col">Series</th>
            <th scope="col">Color</th>
        </thead>
        <tbody>
            <tr th:each="car: ${cars}">
                <td th:text="${car.model}" />
                <td th:text="${car.series}"/>
                <td th:text="${car.color}"/>
            </tr>
        </tbody>
    </table>


</body>
</html>